@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');  
/* Así se llama a la fuente: font-family: 'Poppins', sans-serif;*/

body {
    background-color: #0e0d1f;
}
header {
    display: flex;
    align-content: center;
}

header img { 
    width: 15%;
    height: auto;
    padding-top: 2.5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.nav_escritorio {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    padding-right: 5%;
    padding-top: 0.75%;
}

.nav_escritorio button {
    background-color: transparent;
    border: none;
    color:white;
    padding:2%;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
}

.nav_escritorio button:hover {
    color: #4abc96;
}

.movil {
    display: none;
}

.boton_movil {
    display: none;
}

hr{
    margin-left: 0%;
    margin-right:0%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.box {
    display: flex;
    flex-direction: column; 
    padding-left: 5%;
    line-height: 45px;
    width: 30%;
    margin-top: 1%;
}

h1 {
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2; 
    margin-bottom: 0%;  
    letter-spacing: 0.1px;
}

p {
    color: #554e6f;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 0%; 
    padding-top: 5%;
    padding-bottom: 3%;
} 

main button {
    height: 40px;
    width: 150px;
    background-color: #67bf72;
    border-radius: 20px;
    border: none;
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px; 
}

main div {
    padding-left: 0%;
    padding-top: 4%;
}

main div img {
    padding: 0px;
    width: 90%;
    height: auto;
    position: relative;
}

.posicionesbotones {
    
}

.botonesSonidos{
    position: absolute;
    top:20%;
    height: 50%;
    margin-top: 0%;
    padding-top: 0%;
}

.button-pad-g {
    background-color:pink;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.button-pad-p {
    background-color:pink;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#tom {
    position: relative;
   
}

#kick{
    position: relative;
    
}

#ride {
    position: relative;

}
#hat {
    position: relative;
   
}
#cowbell{
    position: relative;
}

#rimshot{
    position: relative;
}

#snare{
    position: relative;
}

#weird{
    position: relative;
}

.click {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

h2 {
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2; 
    margin-bottom: 0%; 
}

p {
    color: #554e6f;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 1%;
} 

.botonhit {
    display: none;
}

footer button {
    height: 45px;
    width: 130px;
    background-color: white;
    border-radius: 25px;
    border: none;
    color: #0e0d1f;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px; 
}

@media only screen and (max-width: 570px) {
    
    .nav_escritorio {
        display: none;
    }
    
    header {
       padding:0%;
       display:flex;
       flex-direction: column-reverse; 
    }

    header img {
        width: 50%;
        height: auto;
        align-self:center;
        padding-top:2%;
    }

    .nav_movil{
        display: flex;
        flex-direction: row-reverse;
        padding-right: 0%;
        padding-top: 4%;       
    }

    .boton_movil {
        background-color: #67bf72;
        width: 80px;
        height: 30px;
        display: flex;
        border: none;
        border-radius:20px;
        align-items:center;
        justify-content: flex-end;        
    }

    .boton_movil img {
        width: 30%;
        display: flex;
        filter:invert(1);
    }

    main {
        flex-direction:column-reverse ;
        align-items: flex-end;
    }

    h1{
        font-size: 38px;  
    }
    
    p{
        font-size: 11px;
    }
    
    .box{
        width: 100%;
        align-items: center;
    }

    main img {
        width: 100%;
        margin:5%;
        padding:0%;
    }

    .botonhit{
        display: inline-block;
        position: relative;
    }

    .botonhit p{
        position: absolute;
        top:35%;
        left:40%;
        font-size:15px;
        font-weight: 600;
        color:grey
    }
}


