@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');  
/* Así se llama a la fuente: font-family: 'Poppins', sans-serif;*/

body {
    background-color: #0e0d1f;
}
header {
    display: flex;
    align-content: center;
  
}


header img { 
    width: 15%;
    height: auto;
    padding-top: 2.5%;
    padding-bottom: 5%;
    padding-left: 10%;
}
.nav_escritorio {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    padding-right: 5%;
    padding-top: 0.75%;
    
}

.nav_escritorio button {
    background-color: transparent;
    border: none;
    color:white;
    padding:2%;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
}

.nav_escritorio button:hover {
    color: #4abc96;
}
.movil {
    display: none;
}

.boton_movil {
    display: none;
    
}

hr{
    margin-left: 0%;
    margin-right:0%;
}

main {
    display: flex;
    
}
.box {
    display: flex;
    flex-direction: column; 
    padding-left: 10%;
    line-height: 45px;
    width: 21%;


}
h1 {
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.2; 
    margin-bottom: 0%;  
}

p {
    color: #554e6f;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 0%; 
    padding-top: 5%;
    padding-bottom: 3%;
    

} 
main button {
    height: 40px;
    width: 150px;
    background-color: #67bf72;
    border-radius: 20px;
    border: none;
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px; 
}

main div {
    padding-left: 0%;
    padding-top: 7%;
}

main div img {
    padding: 0px;
}

.click {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-right: 22%;
    
}

h2 {
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2; 
    margin-bottom: 0%; 
}

p {
    color: #554e6f;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 1%;
} 

footer img {
    display: none;
}

footer button {
    height: 45px;
    width: 130px;
    background-color: white;
    border-radius: 25px;
    border: none;
    color: #0e0d1f;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px; 
}

@media only screen and (max-width: 360px) {
    
    .nav_escritorio {
        display: none;
    }
    header {
        width: 775px;
        justify-content: space-between;
        flex-direction: column-reverse;
      
    }

    header img {
        width: 50%;
        height: auto;
    }
    .nav_movil{
        display: flex;
        align-self:flex-end;  
        padding: 0%;
        margin: 0%;
        background-color: tomato;
       
    }
    .boton_movil {
        background-color: #67bf72;
        width: 100px;
        height: 50px;
        display: flex;
        border: none;
      
    }


}
